@charset "utf-8";


.default-label {
  margin-bottom: 0.5rem;

  font-weight: 700;
  display: block;

}

.column {
  margin-bottom: 1rem;
}

.date {
  border-radius: 0.25rem;
  border-width: 1px;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.date-input {
  border-radius: 0.25rem;
  border-width: 1px;
  width: 30%;
  padding: 0.5rem;
  font-family: inherit;
  line-height: inherit;
  margin: 0px;
}

.date-label {
  margin-bottom: 0.5rem;

  font-weight: 700;

}

.result {
  border-radius: 0.25rem;
  border-width: 1px;
  padding: 1rem;
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
}

.title-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.reset {
  width: auto;
  background-color: #d351a1;
}
