@charset "utf-8";

:root {
  --color-primary: #3c3c6c;
  --color-text-black: #333;
  --color-text-white: #ffffff;
  --color-background: #efefef;
}

a.black {
  color: #000;
  text-decoration: none;
}

body {
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #333;
  background-color: #efefef;
}

main {
  background-color: #ffffff;
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 1);
  border-radius: 0.5rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.border {
  box-sizing: border-box;
  border-style: solid;
  border-color: rgb(229, 231, 235);
}

.text-input {
  border-radius: 0.25rem;
  border-width: 1px;
  width: 100%;
  padding: 0.5rem;
  font-size: 100%;
  font-family: inherit;
  line-height: inherit;
  margin: 0px;
}

.text-input::placeholder {
  color: #cccccc;
}

.button {
  padding: 0.5rem;

  width: 2.5rem;
  height: 2.5rem;

  border-radius: 0.25rem;

  background-color: #3c3c6c;
  color: #ffffff;

  font-family: inherit;
  line-height: inherit;
  font-size: 100%;

  box-shadow: none;
}

.submit {
  margin-top: 1.5rem;
  padding: 0.5rem;
  width: 100%;

  border-radius: 0.25rem;

  background-color: #3c3c6c;
  color: #ffffff;

  font-family: inherit;
  line-height: inherit;
  font-size: 100%;

  box-shadow: none;
}

nav {
  background-color: var(--color-primary);
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* ページコンテンツのスタイル */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  min-height: calc(100vh - 134.063px);
}

.white {
  color: white !important;
}

.navbar-nav {
  flex-direction: row;
  margin: auto 0;
  margin-bottom: auto !important;
}

footer {
  background-color: #3c3c6c;
  color: #fff;
  text-align: center;
  padding: 10px;
  bottom: 0;
  margin: 1rem 0 0 0;
  width: 100%;
}

.fixed {
  position: fixed;
  bottom: 0;
}

.btn-theme {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3c3c6c;
  --bs-btn-border-color: #3c3c6c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #32335b;
  --bs-btn-hover-border-color: #2e3056;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2e3056;
  --bs-btn-active-border-color: #2e2d51;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #3c3c6c;
  --bs-btn-disabled-border-color: #3c3c6c;
}

.btn-theme-black {
  --bs-btn-color: #000;
  --bs-btn-bg: #3c3c6c;
  --bs-btn-border-color: #3c3c6c;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #32335b;
  --bs-btn-hover-border-color: #2e3056;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #2e3056;
  --bs-btn-active-border-color: #2e2d51;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #3c3c6c;
  --bs-btn-disabled-border-color: #3c3c6c;
}

.text-color {
  color: transparent !important;
  background-clip: text;
}

.rainbow {
  color: transparent !important;
  background-clip: text !important;
  background-image: linear-gradient(to right, Magenta, yellow, Cyan, Magenta);
  background-size: 200% 100%;
  /*背景のサイズを2倍にする*/
  animation: gaming 2s linear infinite;
}

@keyframes gaming {
  /* backgroundを移動させる */
  100% {
    background-position-x: 200%;
  }
}

.golden {
  color: transparent !important;
  background-clip: text !important;
  background: linear-gradient(
    45deg,
    #b67b03 0%,
    #daaf08 45%,
    #fee9a0 70%,
    #daaf08 85%,
    #b67b03 90% 100%
  );
  text-shadow: #ff0 0 0 30px !important;
}

.silver {
  color: transparent !important;
  background-clip: text !important;
  background: linear-gradient(
    45deg,
    #757575 0%,
    #9e9e9e 45%,
    #e8e8e8 70%,
    #9e9e9e 85%,
    #757575 90% 100%
  );
  text-shadow: #fff 0 0 30px !important;
}

.toast {
  --bs-toast-bg: rgba(var(--bs-body-bg-rgb), 1);
  opacity: 1 !important;
}

.platinum {
  color: transparent !important;
  background-clip: text !important;
  background: linear-gradient(
    45deg,
    #e0f7ff 0%,
    #d0e7f0 25%,
    #bccfd6 50%,
    #e6f5ff 75%,
    #d0e7f0 100%
  );
  text-shadow: #e0f7ff 0 0 30px !important;
}

.amethyst {
  color: transparent !important;
  background-clip: text !important;
  background: linear-gradient(
    45deg,
    #9b59b6 0%,
    #8e44ad 25%,
    #d2b4de 50%,
    #8e44ad 75%,
    #9b59b6 100%
  );
  text-shadow: #b182c8 0 0 30px !important;
}

.emerald {
  color: transparent !important;
  background-clip: text !important;
  background: linear-gradient(
    45deg,
    #50c878 0%,
    #46b267 25%,
    #a0e8af 50%,
    #46b267 75%,
    #50c878 100%
  );
  text-shadow: #8de6a2 0 0 30px !important;
}

.ruby {
  color: transparent !important;
  background-clip: text !important;
  background: linear-gradient(
    45deg,
    #e0115f 0%,
    #c20044 25%,
    #ff6699 50%,
    #c20044 75%,
    #e0115f 100%
  );
  text-shadow: #ff88aa 0 0 30px !important;
}

.topaz {
  color: transparent !important;
  background-clip: text !important;
  background: linear-gradient(
    45deg,
    #ffc87c 0%,
    #ffa500 25%,
    #ffe5b4 50%,
    #ffa500 75%,
    #ffc87c 100%
  );
  text-shadow: #ffdd99 0 0 30px !important;
}

.diamond {
  color: transparent !important;
  background-clip: text !important;
  background: linear-gradient(
    45deg,
    #b0e0e6 0%,
    #e6e8fa 25%,
    #ffffff 50%,
    #e6e8fa 75%,
    #b0e0e6 100%
  );
  text-shadow: #ccf2ff 0 0 30px !important;
}

.sapphire {
  color: transparent !important;
  background-clip: text !important;
  background: linear-gradient(
    45deg,
    #0f52ba 0%,
    #1034a6 25%,
    #4682b4 50%,
    #1034a6 75%,
    #0f52ba 100%
  );
  text-shadow: #6699cc 0 0 30px !important;
}

.opal {
  color: transparent !important;
  background-clip: text !important;
  background: linear-gradient(
    45deg,
    #ffccff 0%,
    #add8e6 25%,
    #90ee90 50%,
    #fffacd 75%,
    #ffccff 100%
  );
  text-shadow: #e6e6fa 0 0 30px !important;
}

.peridot {
  color: transparent !important;
  background-clip: text !important;
  background: linear-gradient(
    45deg,
    #99ff99 0%,
    #66ff66 25%,
    #b2ff66 50%,
    #66ff66 75%,
    #99ff99 100%
  );
  text-shadow: #ccff99 0 0 30px !important;
}

.rosegold {
  color: transparent !important;
  background-clip: text !important;
  background: linear-gradient(
    45deg,
    #b76e79 0%,
    #d99394 25%,
    #f4c2c2 50%,
    #d99394 75%,
    #b76e79 100%
  );
  text-shadow: #f8c8dc 0 0 30px !important;
}
