ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li a {
  color: #333;
  text-decoration: none;
}

.card {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

article {
  background-color: #ffffff;
  padding: 2rem;
  width: 100%;
  max-width: 1200px;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 15px -3px #000;
  border-radius: 0.5rem;
}

h1 {
  margin: 1rem;
}
