body {
  background-color: var(--color-primary);
}

.timer-container {
  display: flex;
  align-items: center;
  text-align: center;
}

.timer-container h1 {
  font-weight: 700;
}

.input-container {
  margin-bottom: 10px;
}

.timer-input {
  width: 3rem;
  padding: 5px;
  text-align: center;
}

.timer-button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 0 5px;
  width: 7rem;
  height: 3rem;
  color: #ffffff;
}

.add-button {
  background-color: var(--color-primary);
}

.start-button {
  background-color: #60d351;
}

.stop-button {
  background-color: #d351a1;
}

.timer-display {
  font-size: 4rem;
  margin-top: 20px;
}

footer {
  position: fixed;
  bottom: 0;
}
