main {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px #000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    padding: 2rem;
    width: 100%;
    height: auto;
    max-width: 80vw !important;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.card {
    border: none;
    height: auto;
}
.card-footer {
    background-color: #fff;
}
.btn-theme {
    --bs-btn-color: #fff;
    --bs-btn-bg: #3c3c6c;
    --bs-btn-border-color: #3c3c6c;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #32335b;
    --bs-btn-hover-border-color: #2e3056;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2e3056;
    --bs-btn-active-border-color: #2e2d51;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #3c3c6c;
    --bs-btn-disabled-border-color: #3c3c6c;
}
.btn-theme-black {
    --bs-btn-color: #000;
    --bs-btn-bg: #3c3c6c;
    --bs-btn-border-color: #3c3c6c;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #32335b;
    --bs-btn-hover-border-color: #2e3056;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #2e3056;
    --bs-btn-active-border-color: #2e2d51;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #3c3c6c;
    --bs-btn-disabled-border-color: #3c3c6c;
}
.ck-reset {
    width: 100%;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 20px;
    background-color: #efefef;
}
.editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-height: fit-content;
}
#editor {
    width: 600px;
    height: auto;
    border: 1px solid #ddd;
}
#toolbar {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.ck-editor__editable {
    writing-mode: vertical-rl;
    width: 100%;
    height: auto;
    min-height: 50vh;
    max-height: 50vh;
}
.ck-editor {
    width: 80%;
    height: auto;
}
.ck-editor__editable p {
    margin: var(--ck-spacing-large) 0;
}
.ck-editor__editable h1 {
    font-size: 30px;
    margin-top: 14.4px !important;
    margin-bottom: 14.4px !important;
}
.ck.ck-editor__editable_inline > :first-child {
    margin-top: 14.4px;
}
.ck.ck-editor__editable_inline > :last-child {
    margin-bottom: 14.4px;
}
.title {
    margin-top: 10px;
    text-align: center;
    font-family: "Noto Sans JP", Arial, sans-serif;
}
